!!!
%html
  %head
    %title Marc's Fitness Log
  %body
    %a{:href=>"/"} Return
    %br
    %table
      %tr
        - for entry in @gpx_files
          %tr
            %th
              =entry.split("/")[2].split(".")[0]
            %th
              %a{:href=>"/view/" + entry.split("/")[2]} view
    %h2= "Total runs: " + @gpx_files.length.to_s